//
//  Distribution.xcconfig
//  Wallet
//
//  Created by Олег Лейзер on 31/01/2019.
//  Copyright © 2019 Олег Лейзер. All rights reserved.
//

#include "iOS.xcconfig"
#include "Pods/Target Support Files/Pods-Wallet/Pods-Wallet.distribution.xcconfig"
// Product
PRODUCT_BUNDLE_IDENTIFIER = kz.idev.mvowallet
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
